body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

.containe {
  width: 280px;
  margin: 30px auto;
}

form {
  text-align: center;
}

input[type=text],
input[type=password] {
  padding: 5px;
  border-radius: 4px; /* 角を丸く */
  form-size: 14px;
}

.btn {
  width: 100px;
  padding: 7px;
  border-radius: 5px; */
  color: #fff;
  background: #00aaff;
  box-shadow: 0 3px 0 #0088cc;
  cursor: pointer; /* カーソルをポインターにする */
  margin: 0 auto 15px;
}

.btn:hover {
  opacity: 0.8; /* ポインターした時に色が変化 */
}

/* .fs12 {
  font-size: 12px;
} */
